.listTasks {
  overflow-y: auto;
  height: 350px;
  max-width: 480px;
  margin-inline: auto;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem 0.75rem;
  margin-bottom: 0.75rem;
}

.task-description {
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
}

.alert {
  background-color: transparent;
  font-size: 1.5rem;
  color: #0534cc;
  margin-top: 2rem;
  text-align: center;
}
